@import '../../assets/scss/variables';

.button {
	background-color: $primary;
	box-shadow: 0 8px 12px -8px $primary;
	border-radius: 8px;
	color: $white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	height: 47px;
	line-height: 18px;
	padding: 8px 24px;
	text-transform: uppercase;
	width: 100%;

	&:hover {
		background-color: darken($primary, 10%);
		box-shadow: 0 8px 12px -8px darken($primary, 10%);
	}
}
